
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Notas</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1 class="titulo">Formulario de Notas</h1>
    <form method="post" action="/ejercicio1">
        <label for="nota1" class="etiqueta">Nota 1:</label>
        <input type="text" name="nota1" required class="input-text"><br>

        <label for="nota2" class="etiqueta">Nota 2:</label>
        <input type="text" name="nota2" required class="input-text"><br>

        <label for="nota3" class="etiqueta">Nota 3:</label>
        <input type="text" name="nota3" required class="input-text"><br>

        <label for="asistencia" class="etiqueta">Porcentaje de Asistencia:</label>
        <input type="text" name="asistencia" required class="input-text"><br>

        <button type="submit">Calcular</button>
    </form>
</body>
</html>
