<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Resultado</h1>
    <p>Promedio: {{ promedio }}</p>
    <p>Asistencia: {{ asistencia }}%</p>
    <p>Resultado: {{ resultado }}</p>

   {% if resultado == 'Aprobado' %}
    <img src="/static/img/aprobado.jpg" width="100px" height="100px" alt="Aprobado">
    {% elif resultado == 'Rechazado' %}
    <img src="/static/img/rechazado.jpg" width="100px" height="100px" alt="Rechazado">
    {% endif %}
</body>
</html>
